@import 'scss/variables/index.scss';

.pd-home {
  &-gallery {
    background-color: $pd-color-black;

    .title-2 {
      text-align: center;

      u {
        border-bottom: solid 3px $pd-color-gold;
        text-decoration: none;
      }
    }

    .title-3 {
      margin: 20px 0 40px;
      text-align: center;
    }

    .image-container {
      img {
        width: 100%;
      }
    }

    .slick-list {
      margin: 0 auto;
    }

    .slick-slide {
      img {
        width: 100%;
      }
    }
  }
}
